.header-container{
    background-color: navy;
}

.header-header-logo{
    width: 100%;
    height: auto;
    background-color: navy;
    border: 6px ridge black;
    padding: 3px;
    border-radius: 5px;
}