.header-container{
    background-color: navy;
}

.header-logo {
    width: 100%;
    height: auto;
    background-color: navy;
    border: 6px ridge black;
    padding: 3px;
    border-radius: 5px;
    display: inline-block; /* Make the container fit the logo */
  }
  
  .header-logo img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }