.header-container {
    background-color: navy;
    padding: 10px; /* Add some padding to space the content */
}

.header-logo {
    width: 100%;  
    max-width: 80px; 
    height: auto;
    background-color: navy;
    border: 6px ridge black;
    padding: 3px;
    border-radius: 5px;
    display: inline-block;
    box-sizing: border-box; 
}
.header-logo img {
    width: 100%;  
    height: auto; 
    border-radius: 5px;  
}